@charset "UTF-8";
body {
    background-color: rgb(234, 210, 147);
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: rgb(102, 74, 129);
}
h1#principal {
    text-align: center;
    background-color: blanchedalmond;
    color: rgb(45, 44, 44);
}
h2 {
    color: rgb(81, 53, 106);
}
p {
    text-align: justify;
}
.basico {
    color: rgb(160, 249, 160);
}

.intermediario {
    color: rgb(253, 253, 162);
}

.avançado {
    color: rgb(249, 90, 122);
}

.destaque {
     background-color: rgba(49, 103, 49, 0.718);
}