@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}
body {
   background-image: linear-gradient(to right, #DF852C, #FEFD48);
}
main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #997b60c3;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1 {
   color: #57B7CC;
   text-align: center;
   text-shadow: 1px 1px 2px hsla(191, 41%, 48%, 0.763);
}
h2 {
   color: #FF4F59;
}
p {
    text-align: justify;
}